## IMPORTING LIBRIES

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
## splitting dataset
from sklearn.model_selection import train_test_split
## load regression model
from sklearn.linear_model import LinearRegression
## feature enge
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

## Loading and Overview of Dataset

In [16]:
data= pd.read_csv("dataset/WA_Fn-UseC_-Telco-Customer-Churn.csv")
##
df=data.copy()

In [17]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [18]:
## check  the number of rows and columns
print(f' Total number of rows: {df.shape[0]} -> Total number of columns: {df.shape[0]}')

 Total number of rows: 7043 -> Total number of columns: 7043

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [20]:
np.unique(df['TotalCharges'])

array([' ', '100.2', '100.25', ..., '999.45', '999.8', '999.9'],
      dtype=object)

In [21]:
## checking for missing values
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [22]:
## checking for duplicated values
df.duplicated().sum()

0

## Data Preprocessing- step1
-Normailizing column names
-change the column type for TotalCharges
-

In [23]:
df.columns = df.columns.str.lower()
df.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [24]:
df.totalcharges = pd.to_numeric(df.totalcharges ,errors = 'coerce')

In [25]:
df.isnull().sum()

customerid           0
gender               0
seniorcitizen        0
partner              0
dependents           0
tenure               0
phoneservice         0
multiplelines        0
internetservice      0
onlinesecurity       0
onlinebackup         0
deviceprotection     0
techsupport          0
streamingtv          0
streamingmovies      0
contract             0
paperlessbilling     0
paymentmethod        0
monthlycharges       0
totalcharges        11
churn                0
dtype: int64

In [26]:
df.totalcharges = df.totalcharges.fillna(0)

## changing the churn column to numerice 1 n 0

In [27]:
df.churn = (df.churn == 'Yes').astype(int)

In [28]:
df.churn.head()

0    0
1    0
2    1
3    0
4    1
Name: churn, dtype: int32

### Exploratory Data Analysis

In [31]:
## target Variable
df.churn.value_counts()

churn
0    5174
1    1869
Name: count, dtype: int64

In [35]:
numeric_cols= df.select_dtypes(exclude=[object])
corr_matrix = numeric_cols.corr()

In [36]:
corr_matrix['churn']

seniorcitizen     0.150889
tenure           -0.352229
monthlycharges    0.193356
totalcharges     -0.198324
churn             1.000000
Name: churn, dtype: float64

## Build a Validation FrameWork

In [39]:
##
df_train_full, df_test = train_test_split(df,test_size=0.2, random_state= 11)
df_train, df_valid = train_test_split(df_train_full, test_size=0.25,random_state=11)

In [38]:
print(f'Trainning dataset:(len(df_train))')
print(f'Validation dataset:(len(df_valid))')
print(f'Test dataset:(len(df_test))')

Trainning dataset:(len(df_train))
Validation dataset:(len(df_valid))
Test dataset:(len(df_test))